[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
typing-extensions = "*"
uvicorn = "*"
pypandoc = "*"
python-multipart = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.7"
